.boton-dos {
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 10px rgb(8, 5, 4);
    color: rgb(14, 219, 14);
    background-color: rgb(34, 30, 30);
    font-family: "Righteous", cursive;
  }

  .boton-dos:hover {
    background-color: gray;
  }