.pie {
    display: grid;
    grid-template-areas:
        "redes-sociales"
        "copy"
    ;
    justify-content: center;
    grid-gap: 1rem;
    padding: 1rem;

    p {
        grid-area: copy;
        text-align: center;
    }
}

.redes {
    grid-area: redes-sociales;
    margin: auto;
  }

  .bi-whatsapp {
    color: rgb(14, 219, 14);
    font-size: 1.2rem;
}

.bi-twitter {
    color: lightskyblue;
    font-size: 1.2rem;
}

.bi-instagram {
    color: gray;
    font-size: 1.2rem;
}